{
    email youremail@example.com
}

{$SERVE_DOMAIN} {
    reverse_proxy /faucet/* faucet:8765
    reverse_proxy /ext/* devnet:9650
    reverse_proxy /* frontend:80

    tls {
        on_demand
    }
}
